<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
<!-- 
  1 - Crie um criador de botões.

  O usuário poderá definir:
  width,
  height,
  font-size,
  font-family,
  text-align,
  background,
  color,
  border-radius,

  As escolhas serão feitas em campos de
  formulário. Cada escolha deverá ser 
  refletida em um elemento (o botão).


  2 - Crie um formulário com, nome, email, telefone e mensagem.
  Ao clicar em enviar, as informações preenchidas no formulário
  devem aparecer abaixo do mesmo. (previna o comportamento padrão do botão enviar)
 -->


  <div id="app">
    <label for="width">Width</label>
    <input id="width" type="text" v-model="btn.width">
    <label for="height">Height</label>
    <input id="height" type="text" v-model="btn.height">
    <label for="fontSize">Font-size</label>
    <input id="fontSize" type="text" v-model="btn.fontSize">
    <label for="fontFamily">Font-family</label>
    <input id="fontFamily" type="text" v-model="btn.fontFamily">
    <label for="textAlign">Text-Align</label>
    <input id="textAlign" type="text" v-model="btn.textAlign">
    <label for="background">Background</label>
    <input id="background" type="text" v-model="btn.background">
    <label for="color">Color</label>
    <input id="color" type="text" v-model="btn.color">
    <label for="borderRadius">Border-Radius</label>
    <input id="borderRadius" type="text" v-model="btn.borderRadius">
 
    <a :style="btn" href="">Clique Aqui</a>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        btn: {
          background: "#000",
          width: "100px",
          height: "40px",
          fontSize: "20px",
          fontFamily: "monospace",
          textAlign: "center",
          background: "black",
          color: "red",
          borderRadius: "2px",
        }
      }
    });
  </script>

  <style>
    label {
      display: block;
      margin-top: 10px;
    }

    a {
      margin-top: 30px;
      display: block;
    }
  </style>
</body>
</html>