<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <!-- 
  Crie um componente com um campo de input e um botão para enviar o valor.
  Nesse campo de input será possível escrever o simbolo de empresas americanas

  simbolos ex:
  aapl -> Apple
  goog -> Google
  msft -> Microsoft
  amzn -> Amazon
  fb -> Facebook

  Ao clicar no botão, faça um fetch com a API:
  https://api.origamid.dev/stock/${SIMBOLO}/quote

  O resultado do fetch deverá ser mostrado em um componente filho do formulário.
  Envia as informações utilizando prop
 
  Mostre todas as informações do fetch utilizando um loop.
 -->


  <div id="app">
    <formulario-acoes></formulario-acoes>
  </div>

  <script type="module">
    const DadosAcao = {
      name: "DadosAcao",
      props: ["acao"],
      template: `
    <ul>
      <li v-for="(dado, chave) in acao">
        {{chave}}: {{dado}}
      </li>
    </ul>
  `
    }

    const FormularioAcoes = {
      name: "FormularioAcoes",
      components: {
        DadosAcao
      },
      data() {
        return {
          simbolo: "",
          quote: {}
        }
      },
      template: `
    <div>
      {{simbolo}}
      <input type="text" v-model="simbolo" />
      <button @click="puxarAcao">Puxar Ações</button>
      <dados-acao :acao="quote"></dados-acao>
    </div>
  `,
      methods: {
        puxarAcao() {
          fetch(`https://api.origamid.dev/stock/${this.simbolo}/quote`)
            .then(r => r.json())
            .then(r => {
              this.quote = r;
            })
        }
      }
    }


    const vm = new Vue({
      el: "#app",
      components: {
        FormularioAcoes
      }
    })

  </script>

</body>

</html>